[submodule "src/pickled_hdf5"]
	path = src/pickled_hdf5
	url = https://github.com/fb82/pickled-HDF5.git
[submodule "src/hz"]
	path = src/hz
	url = https://github.com/fb82/HarrisZ.git
[submodule "src/quadtreeattention"]
	path = src/quadtreeattention
	url = https://github.com/Tangshitao/QuadTreeAttention.git
[submodule "src/matchformer"]
	path = src/matchformer
	url = https://github.com/jamycheung/MatchFormer.git
[submodule "src/gms"]
	path = src/gms
	url = https://github.com/JiawangBian/GMS-Feature-Matcher.git
[submodule "src/aspanformer"]
	path = src/aspanformer
	url = https://github.com/apple/ml-aspanformer.git
[submodule "src/r2d2"]
	path = src/r2d2
	url = https://github.com/naver/r2d2.git
[submodule "src/lpm"]
	path = src/lpm
	url = https://github.com/jiayi-ma/LPM_Python.git
[submodule "src/adalam"]
	path = src/adalam
	url = https://github.com/cavalli1234/AdaLAM.git
[submodule "src/fcgnn"]
	path = src/fcgnn
	url = https://github.com/xuy123456/fcgnn.git
[submodule "src/miho"]
	path = src/miho
	url = https://github.com/fb82/MiHo
